<div class="slide bullets">
  <div class="slide__header">ПЕРСПЕКТИВЫ РАЗВИТИЯ</div>
  <div class="brand-logo"><span class="brand-logo__cube"></span>Cloud.ru</div>
  <div class="body">
    <ul>
      <li>Осторожный сценарий наиболее вероятен. Gartner прогнозирует, что &gt;40% проектов могут быть закрыты к 2027 году из за неготовности данных, проблем интеграции и завышенных ожиданий</li>
      <li>В ближайшие 2–3 года основным конкурентным преимуществом будет надежность, безопасность и экономическая эффективность решения, а не только его уникальные функции</li>
      <li>Agent governance – обязательный уровень, от развития которого будет зависеть развитие рынка ИИ-агентов.</li>
      <li>Сдвиг к многоагентным архитектурам: основной прирост эффективности ожидается не от единичного ИИ-агента, а от оркестрации специализированных ИИ-агентов</li>
    </ul>
  </div>
  <div class="copyright">© Cloud.ru</div>
</div>