<div class="slide bullets">
  <div class="slide__header">Ключевые принципы платформы</div>
  <div class="brand-logo"><span class="brand-logo__cube"></span>cloud.ru</div>
  <div class="body">
    <ul>
      <li>Единая платформа управления облачными и локальными ресурсами в одном окне.</li>
      <li>Предсказуемая стоимость владения за счёт прозрачной модели тарификации.</li>
      <li>Безопасность на уровне сертифицированного дата-центра и шифрование данных.</li>
      <li>Автоматическое масштабирование под нагрузку без простоев сервиса.</li>
      <li>Поддержка инженеров 24/7 и SLA с гарантией доступности 99,95%.</li>
    </ul>
  </div>
  <div class="copyright">© 2026 Cloud.ru Любое копирование и воспроизведение содержания (в том числе частичное) без разрешения правообладателя запрещено.</div>
</div>
