<div class="slide cover-dark">
  <div class="brand-logo brand-logo--dark" style="left:35px; right:auto;"><span class="brand-logo__cube"></span>cloud.ru</div>
  <div class="display-title">Cloud.ru<br>Evolution Stack</div>
  <div class="subtitle-plate">Спикер/дата/подзаголовок</div>
  <div class="dot-grid" style="left:35px; bottom:35px; width:660px; height:95px; background-image:radial-gradient(#3a3a3a 1.3px, transparent 1.3px);"></div>
  <div class="brackets" style="left:745px; bottom:120px;">
    <div class="bracket" style="border-color:#9a9a9a;"></div>
    <div class="bracket" style="border-color:#9a9a9a;"></div>
    <div class="bracket" style="border-color:#9a9a9a;"></div>
    <div class="bracket" style="border-color:#9a9a9a;"></div>
  </div>
</div>
