<div class="slide points">
  <div class="slide__header">Пример слайда с изображением и тремя пунктами</div>
  <div class="brand-logo"><span class="brand-logo__cube"></span>cloud.ru</div>
  <div class="media"></div>
  <div class="col">
    <div class="point">
      <div class="rule"></div>
      <h3>Пункт 1</h3>
      <p>Текст</p>
    </div>
    <div class="point">
      <div class="rule"></div>
      <h3>Пункт 2</h3>
      <p>Текст</p>
    </div>
    <div class="point">
      <div class="rule"></div>
      <h3>Пункт 3</h3>
      <p>Текст</p>
    </div>
  </div>
  <div class="copyright">© 2026 Cloud.ru Любое копирование и воспроизведение содержания (в том числе частичное) без разрешения правообладателя запрещено.</div>
</div>
